.features {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    margin-block: 20px;
    width: 90%;

    .icon-part {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .icon-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 65px;
            background-color: rgba(128, 158, 189, 0.26);
            border-radius: 200px 132px 151px 132px;
            -webkit-border-radius: 200px 132px 151px 132px;
            -moz-border-radius: 200px 132px 151px 132px;
            .icon {
                font-size: 50px;
                color: #1680fb;
            }
        }
    }
    .info {
        flex: 5;
        width: 100%;
        display: flex;
        flex-direction: column;

        row-gap: 15px;
        .name {
            text-align: center;
            color: #353f55;
            font-size: 28px;
            font-weight: 600;
        }
        .about {
            font-size: 17px;
            color: var(--text-color);
            text-align: center;
            line-height: 26px;
            letter-spacing: 0.1px;
            font-weight: 500;
        }
    }
}

@media only screen and (min-width: 768px) {
    .features {
        width: 100%;
        display: flex;

        column-gap: 10px;
        padding: 0px 0px;
        flex-direction: row;

        .icon-part {
            .icon-wrapper {
                width: 60px;
                height: 60px;
                .icon {
                    font-size: 45px;
                }
            }
        }

        .info {
            .name {
                text-align: left;
                font-size: 21px;
            }
            .about {
                text-align: left;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .features {
        // gap: 20px;
        // padding: 0px 0px;
        // flex-direction: column;
        column-gap: 0px;
        width: 100%;

        .icon-part {
            .icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 65px;
                background-color: rgba(128, 158, 189, 0.26);
                border-radius: 200px 132px 151px 132px;
                -webkit-border-radius: 200px 132px 151px 132px;
                -moz-border-radius: 200px 132px 151px 132px;
                .icon {
                    font-size: 55px;
                    color: #1680fb;
                }
            }
        }

        .info {
            padding-inline: 40px;
            .name {
                text-align: left;
                font-size: 27px;
            }
            .about {
                text-align: left;
                font-weight: 450;
                font-size: 17px;
            }
        }
    }
}
