.account {
    background-color: var(--gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    border-radius: 10px;
    width: 95%;
    padding: 20px 20px;

    .image-wrapper {
        margin: 30px;
        width: 350px;
    }
    .paragraph {
        text-align: center;
        padding-inline: 20px;
    }
}
@media only screen and (min-width: 770px) {
    .account {
        flex-direction: column;
        row-gap: 20px;
        border-radius: 10px;
        padding: 50px 20px;

        .image-wrapper {
            margin: 30px;
            width: 300px;
        }
        .paragraph {
            text-align: center;
            padding-inline: 20px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .account {
        .image-wrapper {
            margin: 30px;
            width: 500px;
        }
        .paragraph {
            text-align: center;
            padding-inline: 20px;
        }
    }

    .left {
        flex-direction: column-reverse;
    }
}
