.tools {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
    padding-inline: 20px;

    .cover {
        width: 500px;
        padding: 50px 10px;
        background-image: url("https://dsathemes.com/html/martex_1.1/files/images/bg-04.jpg");
        background-size: cover;
        background-position: center;
        display: flex;

        // margin-left: 10px;
        flex-direction: column;
        border-radius: 10px;
        row-gap: 40px;

        .left-part {
            display: flex;
            justify-content: center;
            align-items: center;

            .image-div {
                width: 400px;
            }
        }
        .right-part {
            padding-inline: 30px;
            .heading {
                margin-block: 20px;
                font-size: 35px;
                font-weight: 600;
            }
            .list {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                margin-inline: 15px;
                justify-content: center;
                .paragraph {
                    font-size: 16px;
                }
            }
            .get-link-div {
                margin-block: 15px;
                display: flex;
                // flex-direction: column;
                align-items: center;

                .get-link {
                    font-size: 17px;
                    font-weight: 600;
                    color: #3eb1ff;

                    &:hover {
                        color: #353f4f;
                    }
                }
                .right-arrow {
                    font-size: 22px;
                    color: #3eb1ff;
                    &:hover {
                        color: #353f4f;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .tools {
        .cover {
            width: 100%;

            padding: 60px 5px;

            // margin-left: 10px;
            flex-direction: row-reverse;
            border-radius: 10px;
            column-gap: 10px;
            justify-content: center;
            align-items: center;

            .left-part {
                display: flex;
                justify-content: center;
                align-items: center;

                .image-div {
                    width: 450px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .tools {
        .cover {
            width: 100%;

            padding: 60px 100px;

            .left-part {
                display: flex;
                justify-content: center;
                align-items: center;

                .image-div {
                    width: 600px;
                }
            }

            .right-part {
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                padding-inline: 40px;
                .heading {
                    font-size: 55px;
                }
                .list {
                    .paragraph {
                        font-size: 19px;
                    }
                }
            }
        }
    }
}
