.solution {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 90vh;
    flex-direction: column;
    padding: 30px 20px;
    overflow: hidden;

    .left-part {
        // justify-content: center;
        margin-block: 25px;
        .image-wrapper {
            width: 400px;
        }
    }

    .right-part {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        .subheading{
            font-size: 35px;
        }
        .list {
            padding: 0px 20px;

            .paragraph {
                margin-block: 10px;
            }
        }
    }
}

@media only screen and (min-width: 770px) {
    .solution {
        padding: 30px 20px;
        flex-direction: row;
        height: 90vh;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        .left-part {
            // justify-content: center;
            margin-block: 25px;
            .image-wrapper {
                width: 350px;
            }
        }

        .right-part {
            padding: 20px 40px;
            .subheading {
                font-size: 23px;
                font-weight: 600;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .solution {
        padding: 80px 100px;
        flex-direction: row;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 50px;

        .left-part {
            // justify-content: center;
            margin-block: 25px;
            .image-wrapper {
                width: 600px;
            }
        }

        .right-part {
            padding: 20px 40px;
            .subheading {
                font-size: 30px;
                font-weight: 600;
            }
            .list {
                .paragraph {
                }
            }
        }
    }
}
