.success {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    .left-part {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .list {
            padding: 0px 20px;

            .paragraph {
                margin-block: 10px;
            }
        }
    }
    .right-part {
        background-color: #f2f4f8;

        .courses {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            align-items: center;
            padding-block: 20px;
        }
    }
}

@media only screen and (min-width: 770px) {
    .success {
        padding: 30px 20px;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        justify-content: center;
        align-items: center;

        .left-part {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .list {
                padding: 0px 20px;

                .heading {
                    font-size: 25px;
                }
                .paragraph {
                    font-size: 14px;
                    margin-block: 10px;
                }
            }
        }
        .right-part {
            background-color: #d0d7e7;

            .courses {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
                padding-block: 0px;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .success {
        padding: 30px 80px;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        justify-content: center;
        align-items: center;
        margin-block: 20px;

        .left-part {
            width: 70%;
            padding-inline: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .list {
                padding: 20px 40px;

                .heading {
                    font-size: 25px;
                }
                .paragraph {
                    font-size: 17px;
                    margin-block: 10px;
                }
            }
        }
        .right-part {
            // width: 90%;
            background-color: #d0d7e7;
            padding: 20px;

            .courses {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
                padding-block: 0px;
            }
        }
    }
}
