.marketing {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    .market-head {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .heading {
            font-size: 42px;
            font-weight: 600;
        }
        .subheading {
            font-size: 21px;
            color: #353f55;
            font-weight: 500;
        }
    }
    .features-course {
        justify-content: center;

        // padding-inline: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // gap: 40px;
        row-gap: 50px;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 770px) {
    .marketing {
        .market-head {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .heading {
                font-size: 40px;
            }
            .subheading {
                font-size: 21px;
            }
        }
        .features-course {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .marketing {

        display: flex;
        justify-content: center;
        align-items: center;
        .market-head {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .heading {
                font-size: 50px;
            }
            .subheading {
                font-size: 21px;
            }
        }
        .features-course {
            padding: 30px 50px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 10px;
        }
    }
}
